<div class="row">
	<div class="col s10">
		<h3 class="header teal-text">Instructions</h3>
	</div>
	<div class="col s2 right-align">
		<% if (this.onDone=="shut") { %>
			<a href="#" id="shut" class="teal-text" style="margin-top : 15px;"><i class="fa fa-times fa-2x"></i></a>
		<% } %>
	</div>
</div>

<div class="row explanation-bit">
	<div class="col s12">
		<p class="flow-text">Dans ce jeu-questionnaire, vous aurez à faire des choix de nature économique.  <b>Trois</b> questions de réchauffement et <b>12</b> questions de jeu vous seront posées.</p>
	</div>
</div>

<div class="row explanation-bit">
	<div class="col s12">
		<h5 class="flow-text">Ces 12 questions représentent une année de vie d'une jeune personne dans la vingtaine.  <b>Vos réponses à chacune des questions ont un impact pour tout le reste du jeu</b>. Cela implique donc que vos choix à certaines questions impliquent des paiements ou des revenus récurrents à chaque tour!</h5>
		<h5 class="flow-text">Votre objectif est de maximiser la situation où vos choix cette &laquo;année&raquo; vous mèneraient dans <b>5</b> ans.</h5>
	</div>
</div>

<div class="row explanation-bit">
	<div class="col s12">
		<p class="flow-text">Lorsque vous aurez complété les questions de réchauffement, vous disposerez de <b>30 minutes</b> pour répondre aux questions de jeu.  Après ces 30 minutes, ou lorsque vous aurez terminé de répondre aux 12 questions, vous devrez répondre à quelques questions sur vous, en lien avec la recherche.</p>
	</div>
</div>

<div class="row explanation-bit">
	<div class="col s12">
		<p class="flow-text">Afin de vous aider dans les questions de jeu, des sources d'information glanées un peu partout sur Internet seront mises à votre disposition, ainsi que des données brutes.  Elles apparaîtront à la <b>gauche</b> de l'écran.</p>
        <p class="flow-text">Vous pourrez également <b>acheter</b> le conseil d'un expert, pour lequel votre personage devra cependant payer.  <b>Ces conseils sont valides 75% du temps.</b></p>
		<p class="flow-text">Assurez-vous cliquer sur <b>&laquo;Soumettre&raquo;</b> après avoir répondu à chaque question.</p>
	</div>
</div>

<div class="row explanation-bit">
	<div class="col s12">
		<p class="flow-text">Pour vous remercier de votre participation et vous compenser pour votre temps, un montant vous sera octroyé sous forme de crédit <a href="https://paypal.com" target="_blank">PayPal</a>, envoyé à l'adresse courriel que vous aurez indiqué.  Le montant sera calculé comme suit: </p>
		<ul class="collection">
			<li class="collection-item">- un montant de base de 10$</li>
			<li class="collection-item">- un supplément de 5$, en fonction de la qualité des choix que vous effectuerez dans le cadre du jeu</li>
		</ul>
		<h4 class="teal-text">Bonne chance!</h4>
	</div>
</div>

<div class="row center">
	<div class="col s6">
		<button id="explanation-prev" class="btn waves-effect waves-light left-align" disabled="disabled"><i class="fa fa-chevron-left"></i></button>
	</div>
	<div class="col s6">
		<button id="explanation-next" class="btn waves-effect waves-light right-align"><i class="fa fa-chevron-right"></i></button>
	</div>
</div>

<div class="row center">
	<div class="col s12">
		
		<button id="understood" class="btn-large waves-effect waves-light" style="display : none;">J'ai compris!</button>

	</div>
</div>