<nav class="top-nav teal">
	<div class="container">
		<div class="nav-wrapper">
			<a class="page-title" style="font-size: 32px;">Jeu questionnaire</a>
			<ul id="nav-mobile" class="right">
				<li class="timer"><a href="#!" id="instructions-again">&nbsp;Instructions&nbsp;</a></i></li>
				<li style="display:none;" class="timer"><i class="fa fa-clock-o"></i></li>
				<li style="display:none;" class="timer">&nbsp;&nbsp;Temps écoulé&nbsp;:&nbsp;&nbsp;<span id="time-holder"></span>&nbsp;&nbsp;</li>
				<li style="display:none;" class="timer"><i class="fa fa-calculator"></i></li>
				<li style="display:none;" class="timer">&nbsp;&nbsp;Mon budget&nbsp;:&nbsp;&nbsp;<span id="score-holder"></span>&nbsp;$&nbsp;</li>
			</ul>
		</div>
	</div>
</nav>