<div class="row">
	<div class="col s12">
		<h4 class="teal-text">Questions sur le répondant</h4>
	</div>
</div>
<div class="row">
	<div class="col s12">
		<p class="flow-text">Les questions obligatoires sont marquées d'un astérisque.</p>
	</div>
</div>
<form id="personal-form">
<% _.each(questions, function(question, qindex){ %>
	<div class="row">
		<div class="input-field col s12">
			<p class="flow-text"><%=question.title%></p>
			<% if (question.answerForm=="text") { %>
	        	<input placeholder="<%=question.hint%>" name="<%=question.id%>" id="<%=question.id%>" type="text">
	        <% } else if (question.answerForm=="select") { %>
	        	<% _.each(question.options, function(option){ %>
	        		<p>
					    <input name="<%=question.id%>" type="radio" id="<%=option.id%>" />
					    <label for="<%=option.id%>"><%=option.text%></label>
					</p>
	        	<% }) %>
	        <% } else if (question.answerForm=="multi") { %>
	        	<% _.each(question.options, function(option){ %>
	        		<p>
					    <input name="<%=question.id%>" type="checkbox" id="q-<%=question.id%>-o-<%=option.id%>" />
					    <label for="q-<%=question.id%>-o-<%=option.id%>"><%=option.text%></label>
					</p>
	        	<% }) %>	
	        <% } %>	
	     </div>
	</div>
<% }) %>
</form>	
<div class="row center">
	<div class="col s12">
		<button id="submit" class="btn-large waves-effect waves-light">Soumettre</button>
	</div>
</div>	