<div class="row">
	<div class="col s12">

		<h4 class="teal-text"><%=(title || String("Question "+(this._superSection.questionIndex+1)))%></h4>

	</div>
</div>

<div class="row">
	<div class="col s12">
		
		<div class="card teal">
			<div class="card-content">
				<%(this.getQuestionText() || "").split(/\n/g).forEach(function(line){ %>
					<p class="flow-text white-text"><%=line%></p>
				<% })%>
				<p></p>
			</div>
		</div>

	</div>
</div>

<div class="row">

	<form class="col s12" action="#" id="question-form">
		<div class="row">
			<div class="input-field col s12">
				<% if (answerForm=="text") { %>
	        		<input placeholder="<%=hint%>" name="<%=id%>" id="<%=id%>" type="text">
	        		<label for="<%=id%>">Réponse : </label>
	        	<% } else if (answerForm=="select") { %>
	        		<% _.each(options, function(option){ %>
	        			<p>
					    	<input name="<%=id%>" type="radio" id="<%=option.id%>" />
					    	<label for="<%=option.id%>"><%=option.text%></label>
					    </p>
	        		<% }) %>
                <% } else if (answerForm=="text-multiple") { %>
	        		<% _.each(fields, function(field){ %>
                        <p class="flow-text"><%=field.title%> : </p>
                        <input placeholder="<%=(field.hint || '')%>" name="<%=id%>-<%=field.name%>" id="<%=id%>-<%=field.name%>" type="text">
	        		<% }) %>
                <% } else if (answerForm=="select-multi") { %>
                    <p>Cochez tout ce qui s'applique : </p>
	        		<% _.each(options, function(option){ %>
                        <p>
					    	<input name="<%=id%>-<%=option.id%>" type="checkbox" id="<%=option.id%>" />
					    	<label for="<%=option.id%>"><%=option.text%></label>
					    </p>
	        		<% }) %>        
	        	<% } %>	
	        	
	        </div>
        </div>
	</form>

</div>	

<div class="row">
	<div class="col s12">

	<button id="submit" class="btn-large waves-effect waves-light" disabled="disabled">Soumettre</button>

	</div>
</div>	

	