<div class="row">
	<div class="col s12">

		<h4 class="teal-text">Ressources</h4>

	</div>
</div>

<div class="row">
	<div class="col s12">
        
        <div class="card hoverable small">
            <div class="card-image blue lighten-2">
                <span class="card-title blue lighten-2"><i class="fa fa-lightbulb-o"></i>&nbsp;&nbsp;Conseil d'expert</span>
            </div>
            <div class="card-content">
				<p class="flow-text"><%=adviceCost%>&nbsp;$</p>
            </div>
            <div class="card-action">
                <a href="#" role="button" class="resource-advice">Acheter le conseil</a>
            </div>
        </div>
            
        <% if (rawData) { %>
            <div class="card hoverable small">
                <div class="card-image yellow darken-2">
                    <span class="card-title yellow darken-2"><i class="fa fa-table"></i>&nbsp;&nbsp;Données brutes</span>
                </div>
                <div class="card-content">
				    <p class="flow-text"><%=rawData.title%></p>
				</div>
                <div class="card-action">
                    <a href="#" role="button" class="resource-data" data-url="<%=rawData.link%>">Télécharger les données brutes</a>
                </div>
            </div>
        <% } %>
            
		<% _.each(resources, function(resource){ %>
				<div class="card hoverable small">
					<div class="card-image teal lighten-2">
						<!--<img src="<%=resource.thumbnail%>">-->
						<span class="card-title teal lighten-2"><%=resource.title%><br /><small><%=resource.sourceName%></small></span>
					</div>
					<div class="card-content">
						<p class="truncate"><%=resource.sample%></p>
					</div>
					<div class="card-action">
						<a href="#" class="resource-link" data-resource="<%=resource.id%>" data-url="<%=resource.link%>">Voir</a>
					</div>
				</div>
		<% }) %>
		
	</div>
</div>