<div class="row center">
	<h4 class="header col s12 light center" style="margin-top : 50px;">J'ai lu et signé le formulaire de consentement:</h4>
</div>	

<div class="row center">
	<div class="col s12 center">
		
		<form action="#">
		    <p class="center">
				<input type="checkbox" id="consent" name="consent" />
				<label for="consent">Oui</label>
		    </p>
		</form>
		<br />
		<br />

	</div>
</div>

<div class="row center">
	<div class="col s12">
		
		<button id="start" class="btn-large waves-effect waves-light" disabled="disabled">Commencer</button>

	</div>
</div>